.sidebar-newchat {
  position: relative;
  
  .sidebar-newchat-wrapper {
    position: absolute;
    z-index: 200;

    width: 100%;

    display: flex;
    flex-direction: column;
    
    .sidebar-newchat-header {
      display: flex;
      gap: 3rem;
      height: 5rem;
      width: 100%;
      align-items: center;
      padding: 1.5rem;
      background-color: #202c33;
      
      svg {
        &:hover {
          cursor: pointer;
        }
      }
    }
    .sidebar-newchat-search {
      background-color: #111b21;
      padding: 0.5rem;
      border-bottom: 0.001rem solid grey;
      .sidebar-newchat-serch-background {
        display: flex;
        background-color: #202c33;
        padding: 0.5rem 0.8rem;
        border-radius: 0.5rem;
        align-items: center;
        gap: 1rem;
        svg {
          height: 1rem;
        }
        input {
          background: transparent;
          border: none;
          &:focus-visible {
            outline: none;
          }
        }
      }
    }
  }
}
