.selectuser {
  display: flex;
  gap: 1rem;
  justify-content: center;
  button {
    padding: 0.5rem;
    border-radius: 0.5rem;
    &:hover{
        cursor: pointer;
        background-color: aqua;
    }
  }
}
