.main-welcome{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    svg{
        height: 15rem;
        width: 25rem;
    }
}